<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalkulator składek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <form action="#">
        <h1>Błąd</h1>
        <p th:text="'Komunikat błędu: ' + ${message}"></p>
    </form>
</body>
</html>