<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalkulator składek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <form action="#" th:action="@{/result}" th:object="${calculation}" method="post" ng-app="calculationApp" ng-controller="calculationCtrl">
        <h1>Oblicz składkę</h1>
        <fieldset>
            <legend><span class="number">1</span>Wprowadź dane</legend>
            <label th:for="*{grossAmountDaily}">Stawka dzienna brutto {{selectedCountry.currency}}</label>
            <input type="number" min="0" max="999999999" step="0.01" th:field="*{grossAmountDaily}" placeholder="podaj stawkę" required/>
            <label th:for="*{selectedCountryId}">Kraj</label>
            <select th:field="*{selectedCountryId}" ng-model="selectedCountry" ng-options="country.name for country in countries track by country.id" required>
                <option value="">wybierz</option>
            </select>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span>Oblicz składkę</legend>
            <button type="submit">Oblicz</button>
        </fieldset>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script th:inline="javascript">
var app = angular.module('calculationApp', []);
app.controller('calculationCtrl', ['$scope', function($scope) {
	$scope.countries = [# th:text="${allCountries}"/];
}] );
</script>
</html>