<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kalkulator składek</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
    <form action="#">
        <h1>Obliczona składka</h1>
        <fieldset>
            <legend><span class="number">1</span>Stawki zarobków</legend>
            <p th:text="'Stawka dzienna brutto: ' + ${#numbers.formatDecimal(calculation.grossAmountDaily, 1, 2)} + ' ' + ${calculation.country.currency}"></p>
            <p th:text="'Stawka miesięczna netto: ' + ${#numbers.formatDecimal(calculation.netAmountMonthly, 1, 2)} + ' PLN'"></p>
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span>Dane do obliczeń</legend>
            <p th:text="'Wybrany kraj: ' + ${calculation.country.name}"></p>
            <p th:text="'Kurs ' + ${calculation.country.currency} + ': ' + ${calculation.exchangeRate} + ' PLN'"></p>
            <p th:text="'Podatek dochodowy: ' + ${calculation.country.incomeTax} + ' %'"></p>
            <p th:text="'Stały koszt uzyskania przychodu: ' + ${calculation.country.fixedCost} + ' ' + ${calculation.country.currency}"></p>
        </fieldset>
        <button type="button" onclick="history.back()">Wróć</button>
    </form>
</body>
</html>